@charset "utf-8";

fieldset
{
    display:block;
    padding:15px;
    margin:20px auto;
    border:2px solid #999
}

legend { font-weight:700 }


/**
 * Example select element CSS.
**/


#select-styleable
{
    width:300px;
    padding:5px;
    margin:5px;
    border:5px solid #c00
}



/**
 * Overlay CSS.
**/
.select-overlay { background:#fff }

.select-overlay span
{
    display:block;
    float:left;
    clear:both;
    background:transparent url(bg-ie-select-width.png) no-repeat 0 0
}


/* Overlay CSS for Internet Explorer 6 and 7 */
.ie6 .select-overlay span,
.ie7 .select-overlay span
{
    width:18px;
    height:22px;
    background-position:0 -20px
}

.ie6 .select-overlay-hover span,
.ie7 .select-overlay-hover span { background-position:-18px -20px }

.ie6 .select-overlay-active span,
.ie7 .select-overlay-active span { background-position:-18px -20px }


/* Overlay CSS for Internet Explorer 8 with no borders or padding */
.ie8 .select-overlay span
{
    width:18px;
    height:20px;
    background-position:0 0
}

.ie8 .select-overlay-hover span { background-position:-18px 0 }

.ie8 .select-overlay-active span { background-position:-18px 0 }


/* Overlay CSS for Internet Explorer 8 with borders and padding */
#select-styleable-container.ie8 .select-overlay span
{
    width:17px;
    height:20px;
    background-position:-36px 0
}

#select-styleable-container.ie8 .select-overlay-hover span { background-position:-53px 0 }

#select-styleable-container.ie8 .select-overlay-active span { background-position:-53px 0 }